<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
<script>
$(window).load(function() {
	alert("here");    
	// Covenant Commentary
	if($("#covenant_present_N").prop("checked")){
		$("#covenant_commentary_text").show();
	} else {
		$("#covenant_commentary_text").hide();
	}
	
	$("#covenant_present_Y").click(function(){$("#covenant_commentary_text").hide();}
	$("#covenant_present_N").click(function(){$("#covenant_commentary_text").show();}
	////////////////////////
	
	// CRA Obligations
	if($("#cra_current_N").prop("checked")){
		$("#cra_details_text").show();
	} else {
		$("#cra_details_text").hide();
	}
	
	$("#cra_current_Y").click(function(){$("#covenant_commentary_text").hide();}
	$("#cra_current_N").click(function(){$("#covenant_commentary_text").show();}
	////////////////////////
	
	// Change in Officers
	if($("#empl_senior_change_Y").prop("checked")){
		$("#empl_senior_detail_text").show();
	} else {
		$("#empl_senior_detail_text").hide();
	}
	
	$("#empl_senior_change_N").click(function(){$("#covenant_commentary_text").hide();}
	$("#empl_senior_change_Y").click(function(){$("#covenant_commentary_text").show();}
	////////////////////////
	
	// Data Compliant
	if($("#financials_ifrs_Y").prop("checked")){
		$("#general_commentary_d_text").show();
	} else {
		$("#general_commentary_d_text").hide();
	}
	
	$("#financials_ifrs_N").click(function(){$("#covenant_commentary_text").hide();}
	$("#financials_ifrs_Y").click(function(){$("#covenant_commentary_text").show();}
	////////////////////////
	
	// Any Commentary
	if($("#general_commentary_p_Y").prop("checked")){
		$("#legal_commentary_text").show();
	} else {
		$("#legal_commentary_text").hide();
	}
	
	$("#general_commentary_p_N").click(function(){$("#covenant_commentary_text").hide();}
	$("#general_commentary_p_Y").click(function(){$("#covenant_commentary_text").show();}
	////////////////////////
	
	// Currently Sued
	if($("#legal_present_Y").prop("checked")){
		$("#mac_commentary_text").show();
	} else {
		$("#mac_commentary_text").hide();
	}
	
	$("#legal_present_N").click(function(){$("#covenant_commentary_text").hide();}
	$("#legal_present_Y").click(function(){$("#covenant_commentary_text").show();}
	////////////////////////
	
});

</script>
<header class="header">
    <div class="dropdown hamburger-icon dark">
        <div id="nav-icon3" role="button" data-toggle="dropdown" >
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </div>
        <div class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
            <ol class="clearfix steps-list">
                <li>Fill Out Form</li>
                <li  class="active">Reporting</li>
                <li>Final Sign Off</li>
            </ol>
        </div>
    </div>
    <div class="expresso-logo-block">
        <img src="./assets/img/expresso-logo.png" class="white-logo">
        <img src="./assets/img/expresso-logo-blue.png" class="blue-logo">
    </div>
    <div class="fixed-dropdown-block navbar-right">
        <div class="dropdown">
            <a id="dLabel" role="button" data-toggle="dropdown" class="" >
                Progress <span class="caret"></span>
            </a>
            <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
                <li><a (click)="saveExit()">Save and Exit</a></li>

            </ul>
        </div>
    </div>
</header>
<div class="vertical-height steps-container hamburger-menu brand-bg">
    <div class="vert-center">
        <div class="steps-block">
            <ol class="clearfix steps-list" *ngIf="type=='quickbook'">
                <li>Quickbooks Login</li>
                <li>Verify COA Matching</li>
                <li class="active">Reporting</li>
                <li>Final Sign Off</li>
            </ol>
            <ol class="clearfix steps-list" *ngIf="type=='upload'">
                <li>Upload CSV Files</li>
                <li>Verify COA Matching</li>
                <li class="active">Reporting &amp; Sign Off</li>
            </ol>
            <ol class="clearfix steps-list" *ngIf="type=='form-entry'">
                <li>Fill Out Form</li>
                <li  class="active">Reporting</li>
                <li>Final Sign Off</li>
            </ol>
            <ol class="clearfix steps-list" *ngIf="type=='quickbook-desktop'">
                <li >Sync App Download</li>
                <li>Verify COA Matching</li>
                <li class="active">Reporting</li>
                <li>Final Sign Off</li>
            </ol>
        </div>
    </div>
</div>
<div class="clearfix page-container">
    <h1 class="page-title">Reporting</h1>
    <p class="page-desc">Please answer each question below. Provide extra details when prompted. All questions are required.</p>
    <div class="coa-block">
        <form class="reporting-form" action="sign-off.html" (ngSubmit)="submitReporting()">
            <div *ngFor="let question of questions">
                <div class="form-field" *ngIf="question.answer_data_type=='boolean'">
                    <div class="row">
                        <div class=" col-md-8">
                            <div class="label-price-block">
                                <label>{{question.question_text}}</label>
                            </div>
                            <div class="radio-container">
                                <div class="radio-inline">
                                    <label>
                                        <input type="radio" id="{{question.short_tag}}_Y" class="radio" name="gaap{{question.id}}" value={{question.question_choices[0]}} [(ngModel)]="question.answer.answer">
                                        <div class="outer-border">{{question.question_choices[0]}}</div>
                                    </label>
                                </div>
                                <div class="radio-inline">
                                    <label>
                                        <input type="radio" id="{{question.short_tag}}_N" class="radio" name="gaap{{question.id}}" value={{question.question_choices[1]}} [(ngModel)]="question.answer.answer">
                                        <div class="outer-border">{{question.question_choices[1]}}</div>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-field" *ngIf="question.answer_data_type=='integer'">
                    <div class="row">
                        <div class=" col-md-8">
                            <div class="label-price-block">
                                <label>{{question.question_text}}</label>
                            </div>
                            <input class="form-control time-input-block" type="number" name="value{{question.id}}" value="" [(ngModel)]="question.answer.answer">
                        </div>
                    </div>
                </div>
                <div class="form-field" *ngIf="question.answer_data_type=='varchar(12'">
                    <div class="row">
                        <div class=" col-md-8">
                            <div class="label-price-block">
                                <label>{{question.question_text}}</label>
                            </div>
                            <input class="form-control time-input-block" type="text" name="text{{question.id}}" value="" [(ngModel)]="question.answer.answer">
                        </div>
                    </div>
                </div>
                <div id="{{question.short_tag}}_text" class="form-field" *ngIf="question.answer_data_type=='varchar(51' || question.answer_data_type=='varchar(25'">
                    <div class="row">
                        <div class=" col-md-8">
                            <div class="label-price-block">
                                <label>{{question.question_text}}</label>
                            </div>
                            <textarea class="form-control time-input-block" type="text" name="text{{question.id}}" value="" rows='3' [(ngModel)]="question.answer.answer"></textarea>
                        </div>
                    </div>
                </div>
                <div class="form-field" *ngIf="question.answer_data_type=='date'">
                    <div class="row">
                        <div class=" col-md-8">
                            <div class="label-price-block">
                                <label>{{question.question_text}}</label>
                                <input placeholder="Datepicker" type="text" [(ngModel)]="question.answer.answer" class="form-control" bsDatepicker #dp="bsDatepicker" [bsConfig]="bsConfig">
                                <!-- <date-picker [(ngModel)]="question.answer.answer"  name="date{{question.id}}" class="angular-datepicker"></date-picker>-->
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-field" *ngIf="question.answer_data_type=='enum'">
                    <div class="row">
                        <div class=" col-md-8">
                            <div class="label-price-block">
                                <label>{{question.question_text}}</label>
                            </div>
                            <select class="form-control time-input-block" [(ngModel)]="question.answer.answer" name="select{{question.id}}">
                                <option *ngFor="let option of question.enumvalues"> {{option}}</option>
                            </select>

                        </div>
                    </div>
                </div>
            </div>
            <div class="submit-btn-block">
                <div class="input-group col-xs-12 col-md-8">
                    <button type="submit" class="btn hollow-btn submit-coa-btn" (ngClick)="submitReporting()">Submit</button>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="animated-loader-sheen" *ngIf="showLoading">
    <div class='loading_container'>
        <table border="1" align="center">
            <tr height="100%">
                <td height="100%" width="100%" valign="middle" align="center">
                    <!-- all the config is global in the app.module.ts imports section -->
                    <ngx-loading [show]="showLoading"></ngx-loading>
                </td>
            </tr>
            <tr height="100%">
                <td height="100%" width="100%" valign="middle" align="center">
                    <div class="loading_message" [innerHTML]="loadingMessage"></div> 
                </td>
            </tr>
        </table>
    </div>
</div>