.ng-valid[required].ng-touched, .ng-valid.required.ng-touched  {
    border: 2px solid #42A948; /* green */
}
  
.ng-touched.ng-invalid:not(form)  {
    border: 2px solid #a94442; /* red */
}

.error {
    color: #a94442;
}