<div class="login-info">
    <p class="user"  title="Logged in user." ><i class="glyphicon glyphicon-user" ></i><span class="login-info-span" id="username">{{username}}</span>
        <span class="fa-passwd-reset reset-icon" (click)="to_change_password()" title="Click here to change password">
                    <i class="fa fa-reply fa-stack-2x"></i>
                    <i class="fa fa-key fa-stack-1x"></i>
                </span>
    </p>
    <p  title="Logged in user company."><i class="fa fa-building"></i><span  class="login-info-span" id="company">{{companyName}}</span></p>
</div>