<div class="vertical-container-login brand-bg" id="logo_block">
  <div class="espresso-logo-block-login brand-bg">
    <img src="./assets/img/expresso-logo.png" class="white-logo-login">
  </div>
  <div class="vert-center login-center">
    <p class="login-title" id="login_title">Espresso Insights</p>
    <div >
      <div *ngIf="initial" class="login-block">
      <div class="error" id="forgot_error" *ngIf="message != ''">{{message}}</div>
      <form type="post" name="" class="login-form" id="password_form" #passForm="ngForm">
        <input id="new_pass" type="password" name="newpassword" class="input-control" placeholder="New Password" [(ngModel)]="passcode.password" required #newpassword="ngModel">
        <input id="confirm_pass" type="password" name="confirmpassword" class="input-control" placeholder="Confirm Password" [(ngModel)]="passcode.reenter_password" required #confirmpassword="ngModel">
        <button id='pass_btn' type="submit" class="btn login-btn" [disabled]="!passForm.form.valid" (click)="changepassword()">Change Password</button>
        <button id='pass_btn1' type="submit" class="btn login-btn change-password-back-btn" *ngIf="!is_password_reset_enabled" (click)="changepassword_back()">Back</button>
      </form>
      </div>
      <div *ngIf="show" class="session-text">
          <h3 id="error_text">Your password link has expired. <a [routerLink]="['/forgotpassword']" id="error_btn"><b>Try again</b></a></h3>
      </div>
      <div class="session-text" *ngIf="success">
        <h3  id="success_txt">Password changed successfully. <a [routerLink]="['/login']" id="password_btn"><b>Click here</b></a> to login.</h3>
      </div>
    </div>
  </div>
</div>
<loading-message [showLoading]="showLoading" [loadingMessage]="loadingMessage"></loading-message>