<div class="vertical-container brand-bg">
    <div class="vert-center login-center">
        <div class="login-block">
            <p class="title">Espresso Capital</p>
            <p class="login-title">Borrower Portal</p>
            <div class="error" *ngIf="message != ''">{{message}}</div>
            <form type="post" name="" class="login-form" (ngSubmit)="login()" #loginForm="ngForm">
                <input type="text" name="username" class="input-control" placeholder="Username" [(ngModel)]="user.username" required #username="ngModel">
                       <input type="password" name="password" class="input-control" placeholder="Password" [(ngModel)]="user.password" required #password="ngModel">
                       <button id='login_btn' type="submit" class="btn login-btn" [disabled]="!loginForm.form.valid">Login</button>
            </form>
        </div>
    </div>
</div>
<div class="animated-loader-sheen" *ngIf="showLoading">
    <div class='loading_container'>
        <table border="1" align="center">
            <tr height="100%">
                <td height="100%" width="100%" valign="middle" align="center">
                    <!-- all the config is global in the app.module.ts imports section -->
                    <ngx-loading [show]="showLoading"></ngx-loading>
                </td>
            </tr>
            <tr height="100%">
                <td height="100%" width="100%" valign="middle" align="center">
                    <div class="loading_message" [innerHTML]="loadingMessage"></div> 
                </td>
            </tr>
        </table>
    </div>
</div>