<header class="header tablet">
    <div class="dropdown hamburger-icon dark">
        <div id="nav-icon3" role="button" data-toggle="dropdown">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </div>
        <div class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
            <ol class="clearfix steps-list">
                <li class="active">Upload CSV Files</li>
                <li>Verify COA Matching</li>
                <li>Reporting &amp; Sign Off</li>
            </ol>
        </div>
    </div>
    <div class="expresso-logo-block">
        <img src="./assets/img/expresso-logo.png" class="white-logo">
        <img src="./assets/img/expresso-logo-blue.png" class="blue-logo">
    </div>
    <!--<div class="fixed-dropdown-block navbar-right">
        <div class="dropdown">
            <a id="dLabel" role="button" data-toggle="dropdown" class="">
                Progress <span class="caret"></span>
            </a>
            <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
                <li><a (click)="saveExit()">Save & Exit</a></li>

            </ul>
        </div>
    </div>-->
    <div class="fixed-dropdown-block navbar-right dashboard-dropdown">
        <div class="dropdown">
            <a id="dLabel" role="button" data-toggle="dropdown" class="">
                Contact Us <span class="caret"></span>
            </a>
            <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
                <li *ngFor="let contact of espressoContacts">
                    <p class="title">{{contact.title}}</p>
                    <p class="details">
                        {{contact.first_name}} {{contact.last_name}}
                        <br> {{contact.phone}}
                        <br> {{contact.email}}
                    </p>
                </li>
                <!--<li>
                    <p class="title">Deal Manager</p>
                    <p class="details">
                        Alkarim Jivraj
                        <br> 905-555-1212
                        <br> alkarim@espressocapital.com
                    </p>
                </li>
                <li>
                    <p class="title">Diligence Manager</p>
                    <p class="details">
                        Jim Laird
                        <br> 905-555-1212
                        <br> jim@espressocapital.com
                    </p>
                </li>-->
            </ul>
        </div>
    </div>
</header>
<div class="vertical-height steps-container hamburger-menu brand-bg tablet">
    <div class="vert-center">
        <div class="steps-block">
            <ol class="clearfix steps-list">
                <li class="active">Upload CSV Files</li>
                <li>Verify COA Matching</li>
                <li>Reporting &amp; Sign Off</li>
            </ol>
        </div>
        <div class="logout-btn save-and-exit">
            <a (click)="saveExit()">Save & Exit</a>
        </div>
    </div>
</div>
<div class="vertical-height need-container brand-bg tablet">
    <div class="vert-center">
        <div class="login-details-block">
            <p class="title">What You'll Need</p>
            <p class="description">
                <span class="font-bold">Trial Balance CSV File<br>
                    Chart of Accounts CSV File</span></p>
            <p class="description">Please go to your accounting software and extract your Trial Balance and Chart of Account tables as CSV files.</p>
            <p class="description">Once those files are ready, please upload or drag them into the corresponding categories.</p>
        </div>
    </div>
</div>
<div class="vertical-height csv-container">
    <div class="vert-center csv">
        <div class="csv-block">
            <p class="csv-block-title">Upload Your CSV Files</p>
            <form name="" class="csv-upload-form">
                <div class="clearfix upload-container">
                    <p class="csv-title">Trial balance</p>
                    <!-- <file-drop headertext="Drag file here or choose file" (onFileDrop)="dropped($event, 'trial')" 
                               (onFileOver)="dropped($event, 'trial')" (onFileLeave)="remove('trial')">
                    </file-drop> -->
                    <!-- <br> -->
                    <div class="uploaded-block" *ngFor="let item of trialFiles">
                         <div class="uploaded-file-details">
                            <div class="icon"></div>
                            <p *ngIf="!item.relativePath">{{ item.name }}</p>
                            <p *ngIf="item.relativePath">{{ item.relativePath }}</p>
                        </div>
                        <a id='ec_remove_trial_balance' class="upload-action" (click)="remove('trial')"></a>
                    </div>
                    <div class="new-upload-block">
                        <label>
                            <input id='ec_choose_trial_balance' type="file" name="trial" value="choose file."  (change)="fileChange($event, 'trial')" accept=".csv"/>
                            <p class="choose-file-click">Drag file here or <span id='choose_tb'>choose file.</span></p>
                        </label>
                    </div>
            </div>
            <div class="clearfix upload-container">
                <p class="csv-title">Chart Of Accounts</p>
                <!-- <file-drop headertext="Drag file here or choose file" (onFileDrop)="dropped($event, 'coa')" 
                           (onFileOver)="dropped($event, 'coa')" (onFileLeave)="remove('coa')">
                </file-drop> -->
                <!-- <br> -->
                <div class="uploaded-block" *ngFor="let item of coaFiles">
                     <div class="uploaded-file-details">
                        <div class="icon"></div>
                        <p *ngIf="!item.relativePath">{{ item.name }}</p>
                        <p *ngIf="item.relativePath">{{ item.relativePath }}</p>
                    </div>
                    <a id="ec_remove_coa" class="upload-action" (click)="remove('coa')"></a>
                </div>
                <div class="new-upload-block">
                    <label>
                        <input id='ec_choose_coa' type="file" name="chartofaccounts" value="choose file."  (change)="fileChange($event, 'coa')" accept=".csv"/>
                        <p class="choose-file-click">Drag file here or <span id='choose_coa'>choose file.</span></p>
                    </label>
                </div>
            </div>
            <button type="submit" id="ec_csv_upload_button" class="btn csv-upload-btn" [disabled]="trialFiles.length < 0 && coaFiles.length < 0" (click)="uploadFiles()">Upload</button>
        </form>
    </div>
</div>
</div>
<div class="animated-loader-sheen" *ngIf="showLoading">
    <div class='loading_container'>
        <table border="1" align="center">
            <tr height="100%">
                <td height="100%" width="100%" valign="middle" align="center">
                    <!-- all the config is global in the app.module.ts imports section -->
                    <ngx-loading [show]="showLoading"></ngx-loading>
                </td>
            </tr>
            <tr height="100%">
                <td height="100%" width="100%" valign="middle" align="center">
                    <div class="loading_message" [innerHTML]="loadingMessage"></div> 
                </td>
            </tr>
        </table>
    </div>
</div>