<header class="header">
    <div class="dropdown hamburger-icon dark">
        <div id="nav-icon3" role="button" data-toggle="dropdown" >
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </div>
        <div class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
            <ol class="clearfix steps-list">
                <li >Fill Out Form</li>
                <li >Reporting</li>
                <li class="active">Final Sign Off</li>
            </ol>
        </div>
    </div>
    <div class="expresso-logo-block">
        <img src="./assets/img/expresso-logo.png" class="white-logo">
        <img src=" ./assets/img/expresso-logo-blue.png" class="blue-logo">
    </div>
    <div class="fixed-dropdown-block navbar-right">
        <div class="dropdown">
            <a id="dLabel" role="button" data-toggle="dropdown" class="" >
                Progress <span class="caret"></span>
            </a>
            <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
                <li><a (click)="saveExit()">Save and Exit</a></li>

            </ul>
        </div>
    </div>
</header>

<div class="vertical-height steps-container hamburger-menu brand-bg">
    <div class="vert-center">
        <div class="steps-block">
            <ol class="clearfix steps-list" *ngIf="type=='quickbook'">
                <li>Quickbooks Login</li>
                <li>Verify COA Matching</li>
                <li>Reporting</li>
                <li  class="active">Final Sign Off</li>
            </ol>
            <ol class="clearfix steps-list" *ngIf="type=='upload'">
                <li>Upload CSV Files</li>
                <li>Verify COA Matching</li>
                <li class="active">Reporting &amp; Sign Off</li>
            </ol>
            <ol class="clearfix steps-list" *ngIf="type=='form-entry'">
                <li >Fill Out Form</li>
                <li >Reporting</li>
                <li class="active">Final Sign Off</li>
            </ol>
            <ol class="clearfix steps-list" *ngIf="type=='quickbook-desktop'">
                <li>Sync App Download</li>
                <li>Verify COA Matching</li>
                <li>Reporting</li>
                <li class="active">Final Sign Off</li>
            </ol>
        </div>
    </div>
</div>
<div class="clearfix page-container">
    <h1 class="page-title">Final Sign Off</h1>
    <p class="page-desc">Please look through the following and provide final signoff.</p>
    <div class="statement-table-container">
        <div class="statement-table-block balance">
            <p class="statement-table-title">Balance Sheet | {{date}}</p>
            <div class="table-responsive">
                <table class="table">                        
                    <tr *ngFor="let balance of balance_sheet_ass" [ngClass]="{highlight: balance.fse_tag.is_total_row}">
                        <td>{{balance.fse_tag.description}}</td>
                        <!-- see comment in dashboard-compoment as to why this is USD, in short dont change it to CAD .-->
                        <td *ngIf="balance.fse_tag.is_total_row">{{balance.value | currency:'USD':true:'1.0-0'}}</td>
                        <td *ngIf="!balance.fse_tag.is_total_row">{{balance.value | number:'1.0-0'}}</td>
                    </tr>
                </table>
                <table class="table">                        
                    <tr *ngFor="let balance of balance_sheet_liab" [ngClass]="{highlight: balance.fse_tag.is_total_row}">
                        <td>{{balance.fse_tag.description}}</td>
                        <td *ngIf="balance.fse_tag.is_total_row">{{balance.value | currency:'USD':true:'1.0-0'}}</td>
                        <td *ngIf="!balance.fse_tag.is_total_row">{{balance.value | number:'1.0-0'}}</td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="table_spacer"></div>
        <div class="statement-table-block income">
            <p class="statement-table-title">Income Statement | {{date}}</p>
            <div class="table-responsive">
                <table class="table">
                    <tr *ngFor="let income of income_statement" [ngClass]="{highlight: income.fse_tag.is_total_row}">
                        <td>{{income.fse_tag.description}}</td>
                        <td *ngIf="income.fse_tag.is_total_row">{{income.value | currency:'USD':true:'1.0-0'}}</td>
                        <td *ngIf="!income.fse_tag.is_total_row">{{income.value | number:'1.0-0'}}</td>
                    </tr>
                </table>
            </div>
        </div>            
    </div>
    <form class="signoff-form" action="csv-upload.html" (ngSubmit)="signOff()">
        <div class="statement-table-container">            
            <div class="form-field">
                <div class="label-price-block">
                    <label>Name of person certifying statements</label>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="time-input-block">
                            <input class="form-control" type="text" name="signoff_by_name" value="" placeholder="Enter your Full Name" [(ngModel)]="signoff_by.signoff_by_name">                            
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-field">
                <div class="label-price-block">
                    <label>Position of person certifying statements</label>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="time-input-block">
                            <input class="form-control" type="text" name="signoff_by_title" value="" placeholder="Enter your Title" [(ngModel)]="signoff_by.signoff_by_title">
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-field">
                <div class="label-price-block">
                    <label>Date of certification</label>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="time-input-block">
                            <input class="form-control" type="text" name="signoff_date" value="{{today}}" readonly>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="submit-btn-block">
            <div class="input-group col-xs-12 col-md-8">
                <button type="submit" class="btn hollow-btn submit-coa-btn" (ngClick)="signOff()">Sign Off</button>
            </div>
        </div>
</form>
</div>
<div class="animated-loader-sheen" *ngIf="showLoading">
    <div class='loading_container'>
        <table border="1" align="center">
            <tr height="100%">
                <td height="100%" width="100%" valign="middle" align="center">
                    <!-- all the config is global in the app.module.ts imports section -->
                    <ngx-loading [show]="showLoading"></ngx-loading>
                </td>
            </tr>
            <tr height="100%">
                <td height="100%" width="100%" valign="middle" align="center">
                    <div class="loading_message" [innerHTML]="loadingMessage"></div> 
                </td>
            </tr>
        </table>
    </div>
</div>